@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>Forgot Password Confirmation</h2>
<p>If your email address exists in our system, we have sent you an email with instructions to reset your password.</p>